@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div>@Html.Raw(ViewBag.WordHtml)</div>
    @*<iframe src="@ViewBag.WordHtml" width="700" height="550" allowfullscreen webkitallowfullscreen></iframe>*@
</body>
</html>